sudo: false
language: node_js
node_js:
  - '10'
  - '8'
  - '6'
  - '4'
  - '0.12'
  - '0.10'
os:
  - linux
  - osx
cache:
  directories:
  - node_modules
install:
  - npm install
script:
  - node --version
  - npm --version
  - npm test
after_success:
  - npm run coverage
